/*  */
/*  */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 0 3rem;
  padding: 1rem 3rem;
}

ul {
  list-style: none;
  margin: 1rem 3rem;
  padding: 2rem;
  background: #eee;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

li {
  margin: 1rem;
  text-align: center;
}

.bozo {
  margin-bottom: 0;
}

li a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #333;
}
